.habilidades{
    background: linear-gradient(180deg, rgba(187,225,250,1) 0%, rgba(232,241,242,1) 100%);
    text-align: center;
    padding: 50px;
}

.habilidades .container-habilidades{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.habilidades .container-habilidades .informacoes{
    margin: 10px;
    background-color: var(--cor-suave);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--bgcolor-tres);
    width: 250px;
}

.habilidades .container-habilidades .informacoes i{
    font-size: var(--fonte-gigante);
}

.habilidades .container-habilidades .informacoes h3{
    font-size: var(--fonte-grande);
    margin: 20px 0;
}

.habilidades .container-habilidades .informacoes p{
    color: var(--cor-escura);
    font-size: var(--fonte-normal);
}

@media(max-width:425px){
    .habilidades{
        padding: 20px;
    }

    .habilidades .container-habilidades .informacoes{
        width: 140px;
        margin: 5px;
    }

    .habilidades .container-habilidades .informacoes i{
        font-size: 6rem;
    }

    .habilidades .container-habilidades .informacoes h3{
        font-size: var(--fonte-extra-grande);
    }

    .habilidades .container-habilidades .informacoes p{
        font-size: var(--fonte-grande);
    }

}