.main .home{
    background: rgb(15,76,117);
    background: linear-gradient(180deg, rgba(15,76,117,1) 0%, rgba(33,103,151,1) 100%, rgba(50,130,184,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.home .container p,
.home .container h2{
    font-size: var(--fonte-extra-grande);
}

.home .container h2{
    font-weight: 600;
}

.home .container h1{
    font-size: var(--fonte-gigante);
}

.home .container .redes-sociais{
    display: flex;
    justify-content: center;
}

.home .container .redes-sociais a i{
    font-size: var(--fonte-gigante);
    margin: 20px;
    transition: 0.3s ease-in-out;
}

.home .container .redes-sociais a i:hover{
    transform: scale(1.1);
    text-shadow:0 0 15px var(--cor-clara);
}

.home img{
    width: 30%;
    border-radius: 50%;
    border: 1px solid #033a53;
    background-color: #06314445;
}