.header .menu input{
    display: none;
}

.header .menu label{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}

.header .menu label .menu-hamburguer{
    width: 30px;
    height: 2px;
    background-color: var(--cor-suave);
    transition: 0.5s ease-in-out;
}

.header .menu label .menu-hamburguer:after,
.header .menu label .menu-hamburguer:before{
    content: "";
    background-color: var(--cor-suave);
    display: block;
    height: 2px;
    width: 30px;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.header .menu label .menu-hamburguer:after{
    margin: 10px 0;
}

.header .menu label .menu-hamburguer:before{
    margin: -10px 0;
}

.header .menu input:checked ~ label .menu-hamburguer{
    transform: rotate(45deg);
}

.header .menu input:checked ~ label .menu-hamburguer:before{
    transform: rotate(90deg);
    margin: 0;
}

.header .menu input:checked ~ label .menu-hamburguer:after{
    transform: rotate(90deg);
    margin: 0;
}

@media(max-width:720px){
    .header .menu{
        position: relative;
    }
    
    .header .menu ul{
        background-color: var(--cor-clara);
        border-radius: 10px;
        display: none;
        position: absolute;
        bottom: -140px;
        right: 0;
        width: 180px;
        box-shadow: 0 5px 15px var(--cor-extra-escura);
        text-align: center;
    }

    .header .menu ul li{
        margin: 15px 0;
    }

    .header .menu ul li a{
        font-size: var(--fonte-extra-grande);
    }

    .header .menu label{
        display: flex;
    }

    .header .menu input:checked ~ ul{
        display: block;
    }


}