.projetos{
    text-align: center;
    padding: 50px;
}

.projetos .container-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.projetos .container-projetos a{
    max-width: 250px;
    margin: 15px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.projetos .container-projetos img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projetos .container-projetos a h3,
.projetos .container-projetos a .informacoes-projeto{
    position: absolute;
}

.projetos .container-projetos a h3{
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 20px 0;
    background-color: var(--cor-escura);
    color: var(--cor-suave);
    font-size: var(--fonte-normal);
}

.projetos .container-projetos a .informacoes-projeto{
    width: 100%;
    height: 100%;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    font-size: var(--fonte-normal);
    transition: 0.3s ease-in-out;
    background-color: #bbe1fad2;
    opacity: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projetos .container-projetos a .informacoes-projeto:hover{
    opacity: 1;
}