

@media(max-width:1200px){
    html{
        font-size: 80%;
    }
}

@media(max-width:975px){
    body{
        text-align: center;
    }

    .main .home{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .main .home .container{
        margin: 50px 0;
    }

    .home img,
    .sobre-mim .container img{
        width: 80%;
    }

    .main .sobre-mim .container{
        flex-direction: column;
        gap: 50px;
    }

    .main .sobre-mim .informacoes-sobre-mim{
        text-align: center;
    }

    .main .habilidades .informacoes .logo i{
        font-size: var(--fonte-gigante);
    }

    .main .habilidades .informacoes h3{
        font-size: var(--fonte-normal);
    }
}