

@media(max-width:1200px){
    html{
        font-size: 80%;
    }
}

@media(max-width:975px){
    body{
        text-align: center;
    }

    .main .home{
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
    }

    .main .home .container{
        margin: 50px 0;
    }

    .home img,
    .sobre-mim .container img{
        width: 80%;
    }

    .main .sobre-mim .container{
        flex-direction: column;
        gap: 100px;
    }

    img{
        width: 80%;
    }
}