.sobre-mim{
    background: linear-gradient(180deg, rgba(50,130,184,1) 0%, rgba(187,225,250,1) 100%);
    padding: 50px 0;
    text-align: center;
}

.sobre-mim h2,
.habilidades h2,
.projetos h2{
    font-size: var(--fonte-gigante);
    text-decoration: underline;
}

.sobre-mim .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.sobre-mim img{
    width: 30%;
}

.sobre-mim .informacoes-sobre-mim{
    text-align: left;
    max-width: 700px;
}

.sobre-mim .informacoes-sobre-mim p{
    font-size: var(--fonte-extra-grande);
    margin-bottom: 1rem;
    font-weight: 500;
    text-shadow: 0 1px 2px var(--cor-extra-escura);
}

.sobre-mim .informacoes-sobre-mim .botao{
    margin-top: 30px;
}

.sobre-mim .informacoes-sobre-mim .botao a{
    background-color: var(--cor-clara);
    font-size: var(--fonte-grande);
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: 0 2px 10px #000;
    transition: 0.3s ease-in-out;
}

.sobre-mim .informacoes-sobre-mim .botao a:hover{
    box-shadow: 0 2px 5px var(--cor-clara);
    background-color: var(--cor-suave);
    color: var(--cor-extra-escura);
}

@media(max-width:425px){
    .sobre-mim{
        padding: 20px;
    }

    .sobre-mim .container{
        padding: 0;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
    }

    .sobre-mim .container img{
        width: 80%;
        margin-bottom: 20px;
    }

    .sobre-mim .informacoes-sobre-mim .botao{
        display: flex;
        justify-content: center;
    }

}