*{
    color: aliceblue;
}

html{
    font-size: 65.2%;
}

body{
    font-family: var(--fonte-primaria);
}


.habilidades h2,
.habilidades .container-habilidades .informacoes .logo i,
.habilidades .container-habilidades .informacoes h3,
.projetos h2,
.projetos .container-projetos a h3,
.projetos .container-projetos a .informacoes-projeto p{
    color: var(--cor-extra-escura);
}

.projetos{
    text-align: center;
    padding: 50px;
}

.projetos .container-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projetos .container-projetos a{
    max-width: 250px;
    margin: 15px;
}

.projetos .container-projetos img{
    width: 100%;
}

.footer{
    background-color: var(--cor-escura);
    padding: 50px;
    text-align: center;
}

.footer .redes-sociais a i{
    font-size: var(--fonte-grande);
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.footer .redes-sociais a i:hover{
transform: scale(1.1);
text-shadow:0 0 15px var(--cor-clara);
}