*{
    color: aliceblue;
}

html{
    font-size: 65.2%;
}

body{
    font-family: var(--fonte-primaria);
}


.habilidades h2,
.habilidades .container-habilidades .informacoes .logo i,
.habilidades .container-habilidades .informacoes h3,
.projetos h2,
.projetos .container-projetos a h3,
.projetos .container-projetos a .informacoes-projeto p{
    color: var(--cor-extra-escura);
}

.projetos{
    text-align: center;
    padding: 50px;
}

.projetos .container-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.projetos .container-projetos a{
    max-width: 250px;
    margin: 15px;
    position: relative;
}

.projetos .container-projetos img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projetos .container-projetos a h3,
.projetos .container-projetos a p{
    position: absolute;
}

.projetos .container-projetos a h3{
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 20px 0;
    background-color: var(--cor-escura);
    color: var(--cor-suave);
    font-size: var(--fonte-normal);
}

.projetos .container-projetos a .informacoes-projeto p{
    top: 0;
    padding: 20px;
    font-size: var(--fonte-normal);
    opacity: 0;
}

.projetos .container-projetos a p:nth-child(2){
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.projetos .container-projetos :hover,
.projetos .container-projetos a .informacoes-projeto p:hover{
    opacity: 0.8;
}


.footer{
    background-color: var(--cor-escura);
    padding: 50px;
    text-align: center;
}

.footer .redes-sociais a i{
    font-size: var(--fonte-grande);
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.footer .redes-sociais a i:hover{
transform: scale(1.1);
text-shadow:0 0 15px var(--cor-clara);
}