*{
    color: rgb(250, 250, 250);
}

html{
    font-size: 65.2%;
}

body{
    font-family: var(--fonte-primaria);
}


.habilidades h2,
.habilidades .container-habilidades .informacoes .logo i,
.habilidades .container-habilidades .informacoes h3,
.projetos h2,
.projetos .container-projetos a h3,
.projetos .container-projetos a .informacoes-projeto p{
    color: var(--cor-extra-escura);
}

@media(max-width:425px){
    html{
        font-size: 35%;
    }
}