*{
    color: aliceblue;
}

html{
    font-size: 65,2%;
}

body{
    font-family: var(--fonte-primaria);
    background-color:var(--cor-extra-escura);
    max-width: 1150px;
    margin: 0 auto;
    
}

.header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    transition: 0.3s ease-in-out;
}

.header a:hover,
.redes-sociais a i:hover{
    color: var(--cor-clara);
}

.header .menu ul{
    display: flex;
    gap: 20px;
}

.home{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.home .container p{
    font-size: 2rem;
}

.home .container h1{
    font-size: 3rem;
}

.home .container h2{
    font-size: 2.2rem;
}

.redes-sociais{
    display: flex;
    justify-content: center;
}

.redes-sociais a i{
    font-size: 1.8rem;
    margin: 1.5rem 1.5rem 0 0;
    transition: 0.3s ease-in-out;
}

.home img{
    max-width: 300px;
}

.sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim img{
    max-width: 400px;
}